@import "../../vars.css";

.contactMe {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  width: 70%;
  z-index: 1;
  background-color: #3b3b3b;
  padding: 3rem 5rem;
  margin-bottom: 9rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(to bottom, #727272 0%, #262626 56%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.leftContainer {
  display: flex;
  flex-direction: column;
}

.leftContainer .title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.5rem;
}

.leftContainer .para {
  color: #757575;
  max-width: 40ch;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.rightContainer .btn {
  color: #e2e2e2;
  background-color: #242424;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
}
