@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
}

.leftcontainer .images {
  max-width: 250px;
  z-index: 2;
}

.images {
  position: relative;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #b1b1b1;
  transition: 0.3s all ease-in;
}

a:hover {
  color: rgb(240, 255, 240);
}

.menuItems a {
  transition: 0.5s ease;
}

.menuBtn {
  visibility: hidden;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    visibility: visible;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: rgb(61, 62, 63);
    background: linear-gradient(
      0deg,
      rgba(107, 107, 107, 0.2) 0%,
      rgb(65, 64, 64) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .menuBtn img {
    display: inline;
  }
}

@media screen and (max-width: 425px) {
  .leftcontainer .images {
    max-width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .leftcontainer .images {
    max-width: 150px;
  }

  .menuBtn {
    max-width: 35px;
  }
}
